.home-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0px;
  padding: 10px;
  width: 100%;
  max-height:
}

.home-card {
  width: 373px;
  margin: 7px;
}

.card-photo {
  margin: 10px;
}


.primary-button {
  background: linear-gradient(#8BC34A, #4CAF50), #4CAF50);
}

.headline {
  font-size: 24px;
  margin-right: 5px;
  font-weight: 500;
  font-family: 'Vollkorn', serif;
}

.heavier {
  font-weight: 500;
  font-size: 19px;
  font-family: 'Vollkorn', serif;
}
