.form-group {
  padding-right: 20px;
  font-size: 2em;
}

.form-group label {
  padding-right: 10px;
}

.form-group input {
  text-align: center;
}

.add-flowers {
  width: 100%;
}

.flower-grid {
  width: '60%';
}

.shopping-cart {
  width: '40%';
}
