.catalog-index {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.section-tabs-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.index-card {
  width: 100%;
  margin: 1%;
  padding-left: 15px;
  /*display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;*/
}

.section-card {
  color: 'red';
  display: flex;
  justify-content: flex-start;
}

.genus-card {
  display: flex;
  max-width: '100px';
}
