.premiums {
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: space-around;
}

.flower-card {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.flower-card-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: 100%;
}

.flower-header {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.flower-name {
  font-size: 2em;
}

.flower-variety {
  font-style: italic;
  align-self: flex-end;
}
